@page "/results"
@inject NavigationManager NavigationManager
@inject Services.AppData AppData
@using ParaMODA.Impl

<div class="frontpagespace">
    <h2 style="color: #7f7f7f; font-family: Arial" ; align="left">Subgraph Results</h2>
    @foreach (var subgraph in AppData.SubgraphResults)
    {
        <span>@subgraph</span>
        //Add line breaks between each subgraph
        <br />
        <br />
    }



    @*TODO: For each subgraph result, insert the subgraph (at this point it will be text),
        Mappings found for that subgraph, and if its a frequent subgraph (maybe optional?)*@

    @*NOTE: There is a border here just to help with positioning. Will remove later.*@
    <div class="mappingcontainer">
        <span style="color: #7f7f7f; font-family: Arial" ;>Network: </span> @*This might not be needed; only tells the number of nodes/edges for network*@
        <span style=" font-family: Arial">@AppData.sb.ToString()</span>
        <br />
        <span style="color: #7f7f7f; font-family: Arial">Total Mappings Found: </span>
        <span style=" font-family: Arial">@AppData.Mappings.ToString()</span>
    </div>
</div>

@code {

}
