@page "/results"

    <div class="frontpagespace">
        <h2 style="color: #7f7f7f; font-family: Arial" ; align="left">Subgraph Results</h2>

        @*TODO: For each subgraph result, insert the subgraph (at this point it will be text),
        Mappings found for that subgraph, and if its a frequent subgraph (maybe optional?)*@

        @*NOTE: There is a border here just to help with positioning. Will remove later.*@
        <div class="mappingcontainer">
            <div style="color: #7f7f7f; font-family: Arial";>Network:</div> @*This might not be needed; only tells the number of nodes/edges for network*@
            <div style="color: #7f7f7f; font-family: Arial";>Total Mappings Found: </div>
        </div>
    </div>

@code {

}
